@charset "UTF-8";
* {
  position: relative;
  font-family: 微軟正黑體;
  vertical-align: top;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FDF0D5;
}

.phone {
  width: 250px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  transition: 0.5s;
  left: 0;
}
.phone .camera {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #333;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.top {
  height: 40px;
}

.screen {
  height: 350px;
  transition: 0.5s;
  overflow: hidden;
  cursor: pointer;
}
.screen img {
  z-index: 3;
}
.screen .pages {
  width: 100%;
  height: 100%;
  white-space: nowrap;
  font-size: 0px;
  transition: 0.5s;
  left: -250px;
}
.screen .pages .page {
  font-size: initial;
  display: inline-block;
  background-color: black;
  width: 100%;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  white-space: normal;
  color: #eee;
  font-size: 12px;
}
.screen .pages .page p {
  margin-top: 30px;
}
.screen .pages .page h2 {
  color: white;
  font-size: 20px;
  margin: 0;
}
.screen .pages .page:before {
  position: absolute;
  content: "";
  display: block;
  background-color: #9fdfc6;
  width: 100%;
  height: 50px;
  margin: -10px;
  top: 0px;
}
.screen .pages .page0 {
  background-color: #e5ffed;
  right: 0px;
  cursor: default;
}
.screen .pages .page0 h3 {
  color: white;
  bottom: 12px;
}
.screen .pages .page0 .buy_item.control_panel {
  background-color: white;
  width: 100px;
  height: 100px;
  bottom: -20px;
  left: 10px;
  border-radius: 10px;
  background-color: transparent;
}
.screen .pages .page0 .buy_item.control_panel #items_list {
  margin-top: 10px;
  padding: 5px;
  left: 70px;
  color: black;
}
.screen .pages .page0 .buy_item.control_panel .buy_item {
  padding: 10px;
  list-style: none;
  margin: 10px;
  font-weight: 900;
  width: 200%;
  color: black;
  left: -82px;
  border: solid 1px;
  bottom: 50px;
  border-radius: 10px;
}
.screen .pages .page0 .buy_item.control_panel input {
  width: 100px;
  padding: 2px;
  bottom: 25px;
  border-radius: 10px;
}
.screen .pages .page0 .buy_item.control_panel input#input_name {
  border-radius: 10px;
}
.screen .pages .page0 .buy_item.control_panel .price {
  display: inline-block;
  position: absolute;
  padding-left: 8px;
  padding-right: 8px;
  right: 50px;
  color: black;
}
.screen .pages .page0 .buy_item.control_panel .del_btn {
  display: inline-block;
  position: absolute;
  padding: 0px 6px;
  right: 10px;
  cursor: pointer;
  color: black;
}
.screen .pages .page0 .buy_item.control_panel:hover {
  color: black;
}
.screen .pages .page0 .buy_item.control_panel .addbtn {
  cursor: pointer;
  margin-left: 10px;
  padding: 5px;
  border: solid 1px black;
  color: black;
  left: 110px;
  bottom: 45px;
  border-radius: 10px;
}
.screen .pages .page0 .buy_item.control_panel:hover {
  color: #555;
}
.screen .pages .page0 .buy_item.control_panel .control_panel {
  padding: 20px;
}
.screen .pages .page1 {
  background-color: #ffab36;
  color: white;
}
.screen .pages .page1 .img_page1 img {
  width: 110%;
  position: absolute;
  left: -10px;
  top: -20px;
}
.screen .pages .page1 .computer {
  border: solid 1px black;
  height: 100px;
  width: 100px;
  z-index: 6;
}
.screen .pages .page1 h2 {
  color: #666;
  font-size: 30px;
  font-weight: 50px;
  z-index: 3;
  top: 25px;
  left: 75px;
}
.screen .pages .page1 h1 {
  font-size: 30px;
  border: solid 1px;
  z-index: 3;
  top: 195px;
  text-align: center;
  border-radius: 50%;
  padding: 15px 10px;
  cursor: pointer;
  width: 45px;
  height: 30px;
  left: 80px;
}
.screen .pages .page1 h1:hover {
  color: #666;
}
.screen .pages .page2 .img_page2 img {
  width: 110%;
  bottom: 10px;
  right: 10px;
}
.screen .pages .page3 .img_page3 img {
  width: 110%;
  bottom: 10px;
  right: 11px;
}
.screen .pages .page4 {
  border: solid 1px black;
}

.bottom {
  height: 60px;
  margin-top: 10px;
}
.bottom .button {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 24px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.bottom .button:hover {
  background-color: #ddd;
}

.status, .phonename {
  color: #F07167;
  margin: 0;
}

.status {
  margin-top: 20px;
  font-size: 15px;
}

.phonename {
  margin: 10px;
}

.buttons {
  margin-top: 10px;
}
.buttons button {
  background-color: transparent;
  border: solid 2px rgba(240, 113, 103, 0.2);
  color: #F07167;
  padding: 5px 14px;
  border-radius: 5px;
  cursor: pointer;
}
.buttons button .wiggle {
  left: "";
}
.buttons button:hover {
  background-color: #fff;
  color: #333;
}
.buttons button .turn {
  transform: rotate(0, 0, 0deg);
}