.phone
	.top
		.camera
	.screen
		.pages
			.page.page0
				h3 購物清單
				.buy_item.control_panel
						label 產品名
							input#input_name(placeholder="商品名稱...",border-radius: 10px;)
						label 價錢
							input#input_price(placeholder="商品價位...")
						span.addbtn +新增
						#items_list
			.page.page1
				.img_page1
					img(src="https://sdl-shop.line.naver.jp/themeshop/v1/products/2f/e4/4d/2fe44d2b-98be-47a0-9329-c5afd8e1158e/1/ANDROID/zh-Hant/preview_001_720x1232.png", alt="")
				h2 10:30
				h1 
					i.fa.fa-calculator
				.cumputer
			.page.page2
				.img_page2
					img(src="https://sdl-shop.line.naver.jp/themeshop/v1/products/2f/e4/4d/2fe44d2b-98be-47a0-9329-c5afd8e1158e/1/ANDROID/zh-Hant/preview_002_720x1232.png", alt="")
				//- h2 page2
				//- p 橘子（學名：Citrus reticulata），或寫作桔子[a]，芸香科柑橘屬的一種水果，原產自中國。閩南語稱橘為柑仔，西南官話區的各方言中呼為「柑子」或「柑兒」，也有一些方言稱之為「橘柑」。
			.page.page3
				.img_page3
					img(src="https://i.imgur.com/54FTkME.png", alt="")
				//- h2 page3
				//- p 柑和橘都屬於芸香科柑橘屬的寬皮柑橘類，果實外皮肥厚且充滿檸烯香味，內藏瓤瓣，由汁泡和種子構成。李時珍在《本草綱目·果部》中記載：「橘實小，其瓣味微醋（即酸），其皮薄而紅，味辛而苦；柑大於橘，其瓣味酢，其皮稍厚而黃，葉辛而甘。」一般說來，柑的果形正圓，黃赤色，皮緊紋細不易剝，多汁甘香；橘的果形扁圓，紅或黃色，皮薄而光滑易剝，味微甘酸。柑和橘雖有區別，但在日常語言中常混用，如廣柑也說廣橘，蜜橘也說蜜柑。
			.page.page4
	.bottom
		.button □
h3.status Sweet Home
h2.phonename iphone5
.buttons
	button.wiggle wiggle
	button.turn turn around